@model IEnumerable<string>

<!DOCTYPE html>

<html>
    <head>
            <meta name="viewport" content="width=device-width" />
            <title>View</title>
    </head>

    <body>
            
        <h3>Сотрудник</h3>

        <tbody>
        @foreach (var el in @Model)
        {
            <tr>
                <td>@el</td>
            </tr>
        }
        </tbody>
        
        <hr/>

        <a href="~/home/employees">Список сотрудников</a>

        </body>
</html>
